.input-range {
  &__block {
    position: relative;
    display: flex;
  }

  &__input {
    position: absolute;
    width: 100%;
  }

  &__bgLine {
    position: absolute;
    top: 0px;

    z-index: 2;
    background-color: #F0F0F0;
    height: 6px;

  }

  &__bgLine_1 {
    left: -3px;
    border-radius: 10px 0px 0px 10px;
  }

  &__bgLine_2 {
    right: -3px;
    border-radius: 0px 10px 10px 0px;
  }
}

input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  background-color: #000;
  height: 6px;
  // border-radius: 10px;
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
  position: relative;
  z-index: 3;
  background-color: #000;
  width: 20px;
  height: 20px;
  margin-top: -7px;
  border: 3px solid #000;
  border-radius: 10px;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type="range"]::-moz-range-progress {
  background-color: #000;
}

input[type="range"]::-moz-range-track {
  background-color: #c2c2c2;
}

.circle {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: #000;
}