.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  color: rgba(0, 0, 0, 0.6);
  background-color: #F0F0F0;
  margin: 5px;
  padding: 8px 16px;
  border-radius: 62px;
  cursor: pointer;
  white-space: nowrap;
  transition: 0.2s ease;

  font-family: 'Open Sans';
  font-size: 16px;
  line-height: normal;

  @media (max-width: 769px) {
  }

  @media (max-width: 426px) {
    margin: 0px 8px 8px 0px;
    padding: 10px 20px;
    font-size: 14px;
  }

  &:active {
    color: #fff;
    background-color: #000;
  }

  &:hover {
    transform: scale(1.05);
  }
}

.selectedItem {
  color: #fff;
  background-color: #000;
}