.row {
  display: flex;
  flex-wrap: wrap;
  margin: -5px;
  // justify-content: center;
}

.item {
  color: rgba(0, 0, 0, 0.6);
  background-color: #f0f0f0;
  margin: 5px;
  // margin-right: auto;
  padding: 8px 16px;
  border-radius: 62px;
  cursor: pointer;
  white-space: nowrap;
  transition: 0.2s ease;
  -webkit-tap-highlight-color: transparent;

  font-family: "Open Sans";
  font-size: 16px;
  line-height: normal;

  @media (max-width: 769px) {
  }

  @media (max-width: 426px) {
    padding: 10px 20px;
    font-size: 14px;
  }

  &:active {
    color: #fff;
    background-color: #000;
  }

  &:hover {
    transform: scale(1.05);
  }
}

.selectedItem {
  color: #fff;
  background-color: #000;
}
