.row {
  display: flex;
  flex-wrap: wrap;
  margin: -8px;
  // justify-content: center;
}

.item {
  width: 40px;
  height: 40px;
  margin: 8px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.selectedItem {
  position: relative;

  &::before {
    content: url(../img/select.svg);
    position: absolute;
    top: 52.5%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}