.block {
  display: flex;
  margin: 0px 0px calc(30px + 20 * (100vw / 1440)) 0px;
  justify-content: center;

  @media (max-width: 769px) {
    margin: 0px 0px calc(30px + 20 * ((100vw - 320px) / 1440)) 0px;
  }
}

.body {
  position: relative;
  background-color: #000;
  padding: 36px calc(24px + 50 * (100vw / 1440));
  border-radius: 20px;
  overflow: hidden;

  @media (max-width: 950px) {
    max-width: 595px;
  }

  @media (max-width: 769px) {
    padding: 30px calc(24px + 50 * ((100vw - 320px) / 1440));
  }
}

.loadingBlock {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  top: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  transition: 10s;
}

.messageText {
  color: #fff;
  font-family: 'Fira Sans';
  font-size: 20px;
  font-weight: 700;
}

.spinner {
  img {
    max-width: 100%;
  }
}

.row {
  display: flex;
  margin: 0px -10px;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 950px) {
    flex-wrap: wrap;
    margin: 0px 0px;
  }
}

.left,
.right {
  padding: 0px 10px;

  @media (max-width: 950px) {
    padding: 0px 0px;
  }
}

.left {
  flex: 0 1 550px;
}

.right {
  flex: 0 1 349px;

  @media (max-width: 950px) {
    flex-grow: 1;
  }
}

.text {
  color: #fff;
  font-family: 'Fira Sans';
  font-size: calc(26px + 14 * (100vw / 1440));
  font-weight: 700;
  line-height: 112.5%;

  @media (max-width: 950px) {
    margin: 0px 0px 32px 0px;
  }

  @media (max-width: 769px) {
    font-size: calc(26px + 14 * ((100vw - 320px) / 1440));
  }

  @media (max-width: 436px) {
    text-align: center;
  }
}

.input {
  position: relative;
  display: flex;
  color: rgba(0, 0, 0, 0.4);
  background-color: #fff;
  margin: 0px 0px 14px 0px;
  padding: 12px 16px;
  border-radius: 62px;

  font-family: 'Open Sans';
  font-size: 16px;
  line-height: normal;

  @media (max-width: 769px) {
    font-size: 14px;
  }

  @media (max-width: 436px) {
    padding: 9px 16px;
  }

  img {
    margin: 0px 12px 0px 0px;
  }

  input {
    flex-grow: 1;
    min-height: 24px;

    @media (max-width: 376px) {
      max-width: 140px;
    }
  }

  .points {
    position: relative;
    min-width: 50px;

    @media (max-width: 376px) {
      min-width: 40px;
    }
  }

  &:focus-within {
    .point1 {
      animation: blinking 1s infinite;
    }

    .point2 {
      animation: blinking 1s infinite 0.2s;
    }

    .point3 {
      animation: blinking 1s infinite 0.4s;
    }

    @keyframes blinking {

      0%,
      100% {
        opacity: 1;
      }

      50% {
        opacity: 0;
      }
    }
  }
}

.point {
  position: absolute;
  bottom: 20%;
  background-color: rgba(0, 0, 0, 0.3);
  width: 4px;
  height: 4px;
  border-radius: 50%;
}

.point1 {
  left: 20%;
}

.point2 {
  left: 40%;
}

.point3 {
  left: 60%;
}

.btn {
  width: 100%;
  background-color: transparent;
  margin: 0px 0px 14px 0px;
  -webkit-tap-highlight-color: transparent;

  @media (max-width: 436px) {
    * {
      padding: 12px 34px;
      line-height: 112.5%;
      white-space: pre-wrap;
      text-align: center;
    }
  }
}

.error {
  color: #fff;
  font-family: 'Open Sans';
  font-size: 16px;

  @media (max-width: 437px) {
    text-align: center;
  }
}