.block {
  flex: 0 1 60%;
  padding: 0px 10px;
}

.body {
  padding: 20px 24px;
  border: solid 1px #E6E6E6;
  border-radius: 20px;
}

.btn {
  display: flex;
  justify-content: center;

  * {
    max-width: 300px;
  }
}