.block {
  flex: 0 1 55%;
  padding: 0px 10px;

  @media (max-width: 862px) {
    flex: 0 1 100%;
    padding: 0px 0px 0px 0px;
    order: 3;
  }
}

.body {
  display: flex;
  flex-direction: column;
  padding: 20px 24px;
  min-height: 100%;
  border: solid 1px #e6e6e6;
  border-radius: 20px;
}

.btnBlock {
  position: relative;
  display: flex;
  justify-content: center;
}

.moreBtn {
  display: flex;

  * {
    max-width: 300px;
  }
}

.allBtn {
  position: absolute;
  top: 0;
  right: 0;
  color: #000;
  border: solid 2px #e6e6e6;
  padding: 5px 6px 7px 6px;
  border-radius: 31px;
  transition: 0.2s ease;
  cursor: pointer;

  font-family: "Open Sans";
  font-size: 12px;

  &:hover {
    border-color: #000;
    // background-color: #E6E6E6;
  }
}

.emptyCartImg {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    max-width: 250px;
  }
}
