.block {
  display: flex;
  padding: 16px 66px;
  border-radius: 62px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.4s ease;

  font-family: 'Satoshi';
  font-size: 16px;
  font-weight: 500;

  &:hover {
    animation: anim 1.2s ease;

    @keyframes anim {
      0% {
        transform: rotate(0deg);
      }

      25% {
        transform: rotate(2deg);
      }

      50% {
        transform: rotate(-2deg);
      }

      100% {
        transform: rotate(0deg);
      }
    }
  }
}