.block {
  position: relative;
  display: flex;
  padding: 14px 38px;
  border-radius: 62px;
  align-items: center;
  justify-content: center;
  transition: 0.2s linear;
  white-space: nowrap;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 500;

  @media (max-width: 769px) {
    padding: 18px 38px;
  }

  @media (max-width: 426px) {
    padding: 14px 28px;
    font-size: 14px;
  }

  @media (max-width: 376px) {
    padding: 15px 28px;
    font-size: 12px;
  }

  @media (min-width: 550px) {
    &:hover {
      span {
        top: 5px;
        left: 6px;
        right: 6px;
        bottom: 5px;
      }
    }
  }

  // &:hover {
  //   animation: anim 1.2s ease;

  //   @keyframes anim {
  //     0% {
  //       transform: rotate(0deg);
  //     }

  //     25% {
  //       transform: rotate(1deg);
  //     }

  //     50% {
  //       transform: rotate(-1deg);
  //     }

  //     100% {
  //       transform: rotate(0deg);
  //     }
  //   }
  // }
}

.border {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: solid 2px rgba(0, 0, 0, 0);
  border-radius: 62px;
  transition: 0.3s ease;
}
