.block {
  display: flex;
  padding: 18px 54px;
  border-radius: 62px;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease;
  white-space: nowrap;
  cursor: pointer;

  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 500;

  @media (max-width: 426px) {
    font-size: 14px;
  }

  // &:hover {
  //   animation: anim 1.2s ease;

  //   @keyframes anim {
  //     0% {
  //       transform: rotate(0deg);
  //     }

  //     25% {
  //       transform: rotate(1deg);
  //     }

  //     50% {
  //       transform: rotate(-1deg);
  //     }

  //     100% {
  //       transform: rotate(0deg);
  //     }
  //   }
  // }
}