.block {
  height: 100%;
}

.body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  // min-height: 244px !important;
  padding: 28px 32px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;

  @media (max-width: 376px) {
    padding: 24px;
  }
}

.rating {
  margin: 0px 0px 20px 0px;

  @media (max-width: 376px) {
    margin: 0px 0px 16px 0px;
  }
}

.name {
  display: flex;
  color: #000;
  margin: 0px 0px 12px 0px;
  align-items: center;

  font-family: 'Open Sans';
  font-size: 20px;
  font-weight: 700;
  line-height: 110%;

  @media (max-width: 426px) {
    font-size: 16px;
  }

  img {
    margin: 0px 0px 0px 4px;
  }
}

.text {
  flex-grow: 1;
  color: rgba(0, 0, 0, 0.6);
  font-family: 'Open Sans';
  font-size: 16px;
  line-height: 137.5%;

  @media (max-width: 426px) {
    font-size: 14px;
  }
}