.block {
  height: 100%;
}

.body {
  position: relative;
  display: flex;
  height: 100%;
  padding: 3.5vw 3vw;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 0px 0px 20px 20px;
  }
}

.arrow {
  // width: 100%;
  position: relative;
  display: flex;
  z-index: 2;
  padding: 0px 10px;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  @media (max-width: 426px) {
    display: none;
  }
}

.slider {}

.slide {
  position: relative;
  display: flex;
  z-index: 2;
  color: #fff;
  align-items: center;
  justify-content: center;

  font-family: 'Open Sans';
  font-size: 50px;
  font-weight: 700;

  @media (max-width: 769px) {
    // align-items: start;
  }

  img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 15px;
    max-height: 500px;
  }
}

.cross {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  // background-color: #000;
  width: 25px;
  height: 25px;
  padding: 10px 10px;
  cursor: pointer;
  box-sizing: content-box;

  img {
    max-width: 100%;
  }
}