.block {
  position: relative;
  padding: 0px 0px calc(40px + 24 * (100vw / 1440)) 0px;
  margin: 0px 0px calc(40px + 24 * (100vw / 1440)) 0px;

  @media (max-width: 769px) {
    padding: 0px 0px calc(40px + 24 * ((100vw - 320px) / 1440)) 0px;
    margin: 0px 0px calc(40px + 24 * ((100vw - 320px) / 1440)) 0px;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 1px;
  }
}

.title {
  margin: 0px 0px calc(32px + 23 * (100vw / 1440)) 0px;

  @media (max-width: 769px) {
    margin: 0px 0px calc(32px + 23 * ((100vw - 320px) / 1440)) 0px;
  }
}

.body {}

.row {
  display: flex;
  margin: -10px -10px calc(24px + 12 * (100vw / 1440)) -10px;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;

  @media (max-width: 769px) {
    margin: -10px -10px calc(24px + 12 * ((100vw - 320px) / 1440)) -10px;
  }
}

.item {
  flex: 0 1 25%;
  padding: 10px;

  @media (max-width: 1025px) {
    flex: 0 1 50%;
  }

  @media (max-width: 484px) {
    flex: 0 1 100%;
  }
}

.btn {
  display: flex;
  justify-content: center;

  * {
    max-width: 218px;
  }
}