.block {
  flex: 0 1 75%;
  padding: 0px 10px;
  margin: 0px 0px calc(60px + 30 * (100vw / 1440)) 0px;

  @media (max-width: 1241px) {
    flex: 0 1 70%;
  }

  @media (max-width: 941px) {
    flex: 0 1 65%;
  }

  @media (max-width: 813px) {
    flex: 0 1 100%;
  }

  @media (max-width: 769px) {
    margin: 0px 0px calc(60px + 30 * ((100vw - 320px) / 1440)) 0px;
  }
}

.body {}

.popupBlock {
  display: flex;
  margin: 0px 0px 28px 0px;
  align-items: center;

  @media (max-width: 492px) {
    justify-content: space-between;
    margin: 0px 0px 7px 0px;
  }
}

.title {
  flex-grow: 1;
  color: #000;
  margin: 0px 6px 0px 0px;
  font-size: calc(18px + 14 * (100vw / 1440));
  font-family: 'Open Sans';
  font-weight: 700;
  line-height: normal;

  @media (max-width: 769px) {
    font-size: calc(18px + 14 * ((100vw - 320px) / 1440));
  }

  @media (max-width: 492px) {
    display: none;
  }
}

.text {
  color: rgba(0, 0, 0, 0.6);
  margin: 5px 12px 0px 0px;
  font-family: 'Open Sans';
  font-size: 16px;
  line-height: normal;
  white-space: nowrap;

  @media (max-width: 1089px) {
    display: none;
  }

  @media (max-width: 426px) {
    font-size: 14px;
  }
}

.popup {
  margin: 0px 12px 0px 0px;
  white-space: nowrap;

  @media (max-width: 426px) {
    white-space: wrap;
  }
}

.filterMenu {
  display: none;
  background-color: #F0F0F0;
  padding: 8px;
  border-radius: 62px;

  @media (max-width: 813px) {
    display: block;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -18px -10px 20px -10px;
  padding: 0px 0px 32px 0px;
  border-bottom: solid 1px #E6E6E6;

  @media (max-width: 769px) {
    margin: -12px -7px 20px -7px;
    padding: 0px 0px 24px 0px;
  }

  @media (max-width: 426px) {
    margin: -12px 0px 12px 0px;
  }
}

.skeletons {
  display: flex;
  flex-wrap: wrap;
}

.skeleton {
  flex: 0 1 calc(1/3*100%);
  padding: 18px 10px;

  @media (max-width: 1053px) {
    flex: 0 1 50%;
  }

  @media (max-width: 426px) {
    flex: 0 1 100%;
  }
}

.item {
  padding: 18px 10px;
  flex: 0 1 calc(1/3*100%);

  @media (max-width: 1128px) {
    flex: 0 1 50%;
  }

  @media (max-width: 769px) {
    padding: 12px 7px;
  }

  @media (max-width: 426px) {
    flex: 0 1 100%;
    padding: 12px 0px;
  }
}

.clothingError {
  padding: 28px 0px 0px 10px;

  @media (max-width: 769px) {
    padding: 16px 0px 0px 7px;
  }
}