.categoryItem {
  position: relative;
  display: block;
  color: rgba(0, 0, 0, 0.6);
  margin: 0px 0px 20px 0px;
  font-family: 'Open Sans';
  font-size: 16px;
  line-height: normal;
  transition: 0.2s ease;

  &:last-child {
    margin: 0px 0px 0px 0px;
  }

  span {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: -15%;
      left: 0;
      width: 0%;
      height: 1px;
      background-color: #000;
      transition: 0.3s ease;
    }

    &:hover {
      &::before {
        width: 100%;
      }
    }
  }
}

.activeCategoryItem {
  span {
    &::before {
      width: 100%;
    }
  }
}