.block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-tap-highlight-color: transparent;

  @media (max-width: 426px) {
    justify-content: center;
  }
}

.btn {
  display: flex;
  color: #000;
  background-color: #fff;
  padding: 8px 14px;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  align-items: center;
  transition: 0.3s ease;
  cursor: pointer;

  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;

  @media (max-width: 426px) {
    padding: 8px 10px;
    display: none;
  }

  &:hover {
    background-color: #e6e6e6;
  }
}

.leftBtn {
  img {
    margin: 0px 10px 0px 0px;

    @media (max-width: 769px) {
      margin: 0px 6px 0px 0px;
    }
  }
}

.rightBtn {
  img {
    margin: 0px 0px 0px 10px;

    @media (max-width: 769px) {
      margin: 0px 0px 0px 6px;
    }
  }
}

.pageNumbers {
  display: flex;
  align-items: center;
}

.page {
  color: rgba(0, 0, 0, 0.5);
  margin: 0px 4px 0px 0px;
  padding: 8px 14px;
  transition: 0.3s ease;
  cursor: pointer;

  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;

  &:hover {
    color: #000;
    background-color: #f0f0f0;
    border-radius: 8px;
  }
}

.ellipsis {
  // Disable hover
  background-color: initial !important;
}

.activePage {
  color: #000;
  background-color: #f0f0f0;
  border-radius: 8px;
}
