.block {
  flex: 0 1 75%;
  padding: 0px 10px;
  margin: 0px 0px 50px 0px;
}

.body {}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -18px -10px;

  @media (max-width: 769px) {
    margin: -12px -7px;
  }
}

.item {
  padding: 18px 10px;
  flex: 0 1 calc(1/3*100%);

  @media (max-width: 769px) {
    padding: 12px 7px;
  }
}