.content {
  position: relative;
  display: flex;
  margin: 0px -10px;
  padding: calc(80px + 50 * (100vw / 1440)) 0px 0px 0px;

  @media (max-width: 813px) {
    flex-wrap: wrap;
    margin: 0px 0px 0px 0px;
  }

  @media (max-width: 769px) {
    padding: calc(80px + 50 * ((100vw - 320px) / 1440)) 0px 0px 0px;
  }
}