.block {
  background-color: #F0F0F0;

  margin: -140px calc(-1 * (16px + 84 * (100vw / 1440))) 0px calc(-1 * (16px + 84 * (100vw / 1440)));
  padding: 140px calc(16px + 84 * (100vw / 1440)) 0px calc(16px + 84 * (100vw / 1440));

  @media (max-width: 950px) {
    margin: -190px calc(-1 * (16px + 84 * (100vw / 1440))) 0px calc(-1 * (16px + 84 * (100vw / 1440)));
    padding: 190px calc(16px + 84 * (100vw / 1440)) 0px calc(16px + 84 * (100vw / 1440));
  }

  @media (max-width: 769px) {
    margin: -190px calc(-1 * (16px + 84 * ((100vw - 320px) / 1440))) 0px calc(-1 * (16px + 84 * ((100vw - 320px) / 1440)));
    padding: 190px calc(16px + 84 * ((100vw - 320px) / 1440)) 0px calc(16px + 84 * ((100vw - 320px) / 1440));
  }
}

.body {}

.row {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0px -10px 25px -10px;
  padding: 0px 0px 50px 0px;
  justify-content: space-between;

  @media (max-width: 769px) {
    margin: 0px -10px 16px -10px;
    padding: 0px 0px 40px 0px;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 1px;
  }
}

.item {
  flex: 0 1 17.5%;
  padding: 0px 10px;

  @media (max-width: 905px) {
    &:nth-child(1) {
      flex: 0 1 calc(2/3*100%);
    }

    &:nth-child(2) {
      flex: 0 1 calc(1/3*100%);
      margin: 0px 0px 25px 0px;
    }

    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      flex: 0 1 calc(1/3*100%);
    }
  }

  @media (max-width: 445px) {
    &:nth-child(1) {
      flex: 0 1 100%;
    }

    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      flex: 0 1 50%;
    }
  }
}

.firstItem {
  flex: 0 1 30%;

  @media (max-width: 905px) {
    margin: 0px 0px 25px 0px;
  }
}

.logo {
  position: relative;
  z-index: 2;
  color: #000;
  margin: 0px 0px calc(8px + 11 * (100vw / 1440)) 0px;
  font-size: 26px;
  font-family: 'Fira Sans';
  font-weight: 700;

  @media (max-width: 769px) {
    margin: 0px 0px calc(8px + 11 * ((100vw - 320px) / 1440)) 0px;
    font-size: 22px;
  }

  @media (max-width: 526px) {
    flex-grow: 1;
  }
}

.text {
  color: rgba(0, 0, 0, 0.6);
  margin: 0px 0px calc(20px + 15 * (100vw / 1440)) 0px;
  font-family: 'Open Sans';
  font-size: 18px;
  line-height: 155%;

  @media (max-width: 769px) {
    margin: 0px 0px calc(20px + 15 * ((100vw - 320px) / 1440)) 0px;
    font-size: 14px;
  }
}

.icons {
  display: flex;
}

.icon {
  margin: 0px 12px 0px 0px;

  &:last-child {
    margin: 0px 0px 0px 0px;
  }
}

.footer {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 0px 60px 0px;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 769px) {
    padding: 0px 0px 50px 0px;
  }

  @media (max-width: 668px) {
    justify-content: center;
  }
}

.rights {
  color: rgba(0, 0, 0, 0.6);
  padding: 0px 0px 10px 0px;
  font-family: 'Open Sans';
  font-size: 16px;
  line-height: normal;

  @media (max-width: 426px) {
    font-size: 14px;
  }
}

.cards {
  display: flex;

  @media (max-width: 668px) {
    flex: 0 1 100%;
    justify-content: center;
  }

  @media (max-width: 319px) {
    flex-wrap: wrap;
  }
}

.card {}