.block {
  background-color: #F0F0F0;
  margin: calc(-1 * (40px + 24 * (100vw / 1440))) 0px calc(50px + 30 * (100vw / 1440)) 0px;
  padding: calc(24px + 46 * (100vw / 1440));
  border-radius: 40px;

  @media (max-width: 769px) {
    margin: calc(-1 * (40px + 24 * ((100vw - 320px) / 1440))) 0px calc(50px + 30 * ((100vw - 320px) / 1440)) 0px;
    padding: calc(24px + 46 * ((100vw - 320px) / 1440));
  }
}

.title {
  margin: 0px 0px calc(28px + 42 * (100vw / 1440)) 0px;

  @media (max-width: 769px) {
    margin: 0px 0px calc(28px + 42 * ((100vw - 320px) / 1440)) 0px;
  }

  * {
    line-height: 112.5%;
  }
}

.body {}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}

.smallItem,
.largeItem {
  padding: 10px;
  transition: 0.5s ease;

  @media (min-width: 769px) {
    &:hover {
      transform: scale(1.04);
    }
  }
}

._anim {
  transform: scale(1.04);
}

.itemBody {
  position: relative;
  display: flex;
  background-color: #FFF;
  justify-content: flex-end;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}

.smallItem {
  flex: 0 1 40%;

  @media (max-width: 969px) {
    flex: 0 1 30%;
  }

  @media (max-width: 769px) {
    flex: 0 1 100%;
  }
}

.largeItem {
  flex: 0 1 60%;

  @media (max-width: 969px) {
    flex: 0 1 70%;
  }

  @media (max-width: 769px) {
    flex: 0 1 100%;
  }
}

.text {
  position: absolute;
  top: 9%;
  left: 6%;
  color: #000;
  font-family: 'Satoshi';
  font-size: calc(24px + 12 * (100vw / 1440));
  font-weight: 700;
  line-height: normal;

  @media (max-width: 769px) {
    font-size: calc(24px + 12 * ((100vw - 320px) / 1440));
  }

  &::first-letter {
    text-transform: uppercase;
  }
}

.img {
  max-height: 289px;
  overflow: hidden;

  @media (max-width: 376px) {
    max-height: 190px;
  }

  img {
    max-width: 100%;
  }
}