.block {
  flex: 0 1 25%;
  padding: 0px 10px;

  @media (max-width: 1241px) {
    flex: 0 1 30%;
  }

  @media (max-width: 941px) {
    flex: 0 1 35%;
  }

  @media (max-width: 760px) {
    flex: 0 1 50%;
  }

  @media (max-width: 694px) {
    flex: 0 1 50%;
  }
}

.body {
  padding: 20px 24px;
  border: 1px solid #E6E6E6;
  border-radius: 20px;

  @media (max-width: 1025px) {
    padding: 20px 16px;
  }
}

.item {
  margin: 0px 0px 24px 0px;
  padding: 0px 0px 24px 0px;
  border-bottom: solid 1px #0000001A;

  @media (max-width: 769px) {
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 20px 0px;
  }
}

.title {
  display: flex;
  color: #000;
  margin: 0px 0px 20px 0px;
  align-items: center;
  justify-content: space-between;

  font-family: 'Open Sans';
  font-size: 20px;
  font-weight: 700;
  line-height: normal;

  @media (max-width: 769px) {
    margin: 0px 0px 16px 0px;
  }

  span {
    margin: 0px 10px 0px 0px;
  }
}

.categoryItem {
  display: block;
  color: rgba(0, 0, 0, 0.6);
  margin: 0px 0px 20px 0px;
  font-family: 'Open Sans';
  font-size: 16px;
  line-height: normal;
  transition: 0.2s ease;

  &:last-child {
    margin: 0px 0px 0px 0px;
  }

  &:hover {
    color: rgba(0, 0, 0, 1);
  }
}