.block {
  flex: 0 1 25%;
  padding: 0px 10px;

  @media (max-width: 1241px) {
    flex: 0 1 30%;
  }

  @media (max-width: 941px) {
    flex: 0 1 35%;
  }

  @media (max-width: 813px) {
    position: absolute;
    top: -100dvh;
    left: 0;
    z-index: 2;
    background-color: #fff;
    width: 100%;
    padding: 80px 0px 0px 0px;
    margin: 0px 0px 30px 0px;
    visibility: hidden;
    opacity: 0;
    transition: 0.7s ease;
  }

  @media (max-width: 526px) {
    padding: 64px 0px 0px 0px;
  }
}

.activeBlock {
  top: 0;
  visibility: visible;
  opacity: 1;
}

.body {
  padding: 20px 24px;
  border: 1px solid #E6E6E6;
  border-radius: 20px;

  @media (max-width: 1025px) {
    padding: 20px 16px;
  }

  @media (max-width: 813px) {
    padding: 20px 0px 0px 0px;
    border: none;
  }
}

.content {}

.item {
  margin: 0px 0px 24px 0px;
  padding: 0px 0px 24px 0px;
  border-bottom: solid 1px #0000001A;

  @media (max-width: 769px) {
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 20px 0px;

    &:first-child {
      margin: 0px 0px 28px 0px;
      padding: 0px 0px 28px 0px;
    }
  }

  &:first-child {
    margin: 0px 0px 28px 0px;
    padding: 0px 0px 28px 0px;
  }
}

.title {
  display: flex;
  color: #000;
  margin: 0px 0px 20px 0px;
  align-items: center;
  justify-content: space-between;

  font-family: 'Open Sans';
  font-size: 20px;
  font-weight: 700;
  line-height: normal;

  @media (max-width: 769px) {
    margin: 0px 0px 16px 0px;
  }

  &:first-child {
    position: relative;
    padding: 0px 0px 20px 0px;
  }

  span {
    margin: 0px 10px 0px 0px;
  }

  img {
    @media (max-width: 813px) {
      display: none;
    }
  }
}

.cross {
  position: relative;
  display: none;
  cursor: pointer;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 2px;
    background-color: #999999;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  @media (max-width: 813px) {
    display: block;
  }
}

.categoryItem {
  display: block;
  color: rgba(0, 0, 0, 0.6);
  margin: 0px 0px 20px 0px;
  font-family: 'Open Sans';
  font-size: 16px;
  line-height: normal;
  transition: 0.2s ease;

  &:last-child {
    margin: 0px 0px 0px 0px;
  }

  &:hover {
    color: rgba(0, 0, 0, 1);
  }
}