.block {
  display: flex;
  margin: 0px 0px 24px 0px;
  padding: 0px 0px 24px 0px;
  border-bottom: solid 1px #E6E6E6;

  @media (max-width: 769px) {
    margin: 0px 0px 18px 0px;
    padding: 0px 0px 18px 0px;
  }

  &:last-child {
    margin: 0px 0px 0px 0px;
    border: none;
  }
}

.img {
  background-color: #F0EEED;
  margin: 0px 20px 0px 0px;
  border-radius: 20px;
  overflow: hidden;

  @media (max-width: 426px) {
    margin: 0px 10px 0px 0px;
  }

  img {
    max-width: 150px;
    max-height: 125px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.title {
  color: #000;
  margin: 0px 0px 5px 0px;
  font-family: 'Open Sans';
  font-weight: 700;
  line-height: normal;

  @media (max-width: 769px) {
    font-size: 16px;
  }
}

.size {
  color: #000;
  margin: 0px 0px 5px 0px;
  font-family: 'Open Sans';
  font-size: 14px;
  line-height: normal;

  @media (max-width: 426px) {
    font-size: 12px;
  }

  span {
    color: rgba(0, 0, 0, 0.6);
  }
}

.color {
  display: flex;
  color: #000;
  align-items: center;

  font-family: 'Open Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @media (max-width: 426px) {
    font-size: 12px;
  }

  span {
    display: block;
    margin: 0px 0px 0px 8px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
  }
}

.price {
  flex-grow: 1;
  display: flex;
  color: #000;
  align-items: flex-end;
  font-family: 'Open Sans';
  font-size: 24px;
  font-weight: 700;
  line-height: normal;

  @media (max-width: 769px) {
    font-size: 18px;
  }
}

.widgets {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  img {
    max-width: 24px;
    margin-bottom: auto;
    cursor: pointer;
  }
}

.btn {}