.block {
  margin: 0px 0px calc(50px + 30 * (100vw / 1440)) 0px;
  align-self: normal;

  @media (max-width: 769px) {
    margin: 0px 0px calc(50px + 30 * ((100vw - 320px) / 1440)) 0px;
  }
}

.body {
}

.header {
  display: flex;
  margin: 0px 0px calc(24px + 16 * (100vw / 1440)) 0px;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 769px) {
    margin: 0px 0px calc(24px + 16 * ((100vw - 320px) / 1440)) 0px;
  }
}

.title {
  * {
    text-align: left;
  }
}

.navigation {
  display: flex;
}

.arrow {
  cursor: pointer;

  &:first-child {
    margin: 0px 14px 0px 0px;
  }
}

.slider {
  display: flex !important;
  overflow: visible !important;
}

.slide {
}
