.block {
  background-color: #000;
  margin: 0px calc(-1 * (16px + 84 * (100vw / 1440))) calc(50px + 22 * (100vw / 1440)) calc(-1 * (16px + 84 * (100vw / 1440)));
  padding: 0px calc(16px + 84 * (100vw / 1440));

  @media (max-width: 769px) {
    margin: 0px calc(-1 * (16px + 84 * ((100vw - 320px)/ 1440))) calc(50px + 22 * ((100vw - 320px) / 1440)) calc(-1 * (16px + 84 * ((100vw - 320px)/ 1440)));
    padding: 0px calc(16px + 84 * ((100vw - 320px) / 1440));
  }
}

.body {
  display: flex;
  margin: 0px calc(-1 * (34px + 19 * (100vw / 1440)));
  padding: 43px 0px;
  align-items: center;
  justify-content: center;

  @media (max-width: 945px) {
    flex-wrap: wrap;
    margin: 0px -17px;
    padding: 39px 0px;
  }

  @media (max-width: 426px) {
    padding: 9px 0px;
  }
}

.item {
  padding: 0px calc(34px + 19 * (100vw / 1440));
  text-align: center;

  @media (max-width: 945px) {
    flex: 0 1 calc(1/3*100%);
    margin: 11px 0px 11px 0px;
    padding: 0px 17px;
  }

  img {
    max-width: 100%;
  }
}