.block {
  flex: 0 1 75%;
  padding: 0px 10px;
  margin: 0px 0px calc(50px + 30 * (100vw / 1440)) 0px;

  @media (max-width: 1241px) {
    flex: 0 1 70%;
  }

  @media (max-width: 941px) {
    flex: 0 1 65%;
  }

  @media (max-width: 769px) {
    margin: 0px 0px calc(50px + 30 * ((100vw - 320px) / 1440)) 0px;
  }

  @media (max-width: 760px) {
    flex: 0 1 50%;
  }
}

.body {}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -18px -10px 20px -10px;
  padding: 0px 0px 32px 0px;
  border-bottom: solid 1px #E6E6E6;

  @media (max-width: 769px) {
    margin: -12px -7px 20px -7px;
    padding: 0px 0px 24px 0px;
  }
}

.item {
  padding: 18px 10px;
  flex: 0 1 calc(1/3*100%);

  @media (max-width: 1128px) {
    flex-grow: 1;
    // flex: 0 1 50%;
  }

  @media (max-width: 769px) {
    padding: 12px 7px;
  }
}

.clothingError {
  padding: 28px 0px 0px 10px;

  @media (max-width: 769px) {
    padding: 16px 0px 0px 7px;
  }
}

.skeletons {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}