.block {
  position: fixed;
  z-index: 50;
  width: 100vw;
  margin: 0px calc(-1 * (16px + 64 * (100vw / 1440)));
  // border: solid 1px #E6E6E6;

  @media (max-width: 769px) {
    margin: 0px calc(-1 * (16px + 64 * ((100vw - 320px) / 1440)));
  }
}

.body {
  position: relative;
  display: flex;
  z-index: 2;
  padding: 24px calc(16px + 64 * (100vw / 1440));
  align-items: center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #fff;
    width: 100%;
    height: 100%;
  }

  @media (max-width: 769px) {
    padding: 24px calc(16px + 64 * ((100vw - 320px) / 1440));
  }

  @media (max-width: 526px) {
    padding: 20px calc(16px + 84 * ((100vw - 320px) / 1440));
  }
}

.logo {
  position: relative;
  z-index: 2;
  color: #000;
  margin: 0px calc(10px + 20 * (100vw / 1440)) 0px 0px;
  -webkit-tap-highlight-color: transparent;

  font-size: 26px;
  font-family: 'Fira Sans';
  font-weight: 700;

  @media (max-width: 769px) {
    margin: 0px calc(10px + 20 * ((100vw - 320px) / 1440)) 0px 0px;
    font-size: 22px;
  }

  @media (max-width: 526px) {
    flex-grow: 1;
  }
}

.menu {
  position: relative;
  z-index: 2;
  margin: 0px calc(10px + 20 * (100vw / 1440)) 0px 0px;

  @media (max-width: 939px) {
    position: absolute;
    top: 0;
    left: -300px;
    z-index: 3;
    background-color: #F0F0F0;
    width: 300px;
    height: 100dvh;
    padding: 20px;
    transition: 0.5s ease;
    overflow: auto;
  }

  @media (max-width: 769px) {
    margin: 0px calc(10px + 20 * ((100vw - 320px) / 1440)) 0px 0px;
  }
}

.activeMenu {
  left: 0;
}

.menuCloseBtn {
  position: relative;
  display: none;
  margin: 0px 0px 40px 0px;

  @media (max-width: 939px) {
    display: block;
  }

  span {
    top: 0;
    right: 0;
    cursor: pointer;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 40%;
      right: 0;
      background-color: #000;
      width: 20px;
      height: 2px;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

.list {
  display: flex;
  position: relative;

  @media (max-width: 939px) {
    display: block;
  }
}

.item {
  margin: 0px calc(6px + 18 * (100vw / 1440)) 0px 0px;

  @media (max-width: 939px) {
    margin: 0px 0px 20px 0px;
  }

  &:last-child {
    margin: 0px 0px 0px 0px;
  }
}

.link {
  position: relative;
  color: #000;
  font-family: 'Open Sans';
  font-size: 16px;
  cursor: pointer;
  white-space: nowrap; 
  -webkit-tap-highlight-color: transparent;

  &::before {
    content: '';
    position: absolute;
    bottom: -15%;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: #000;
    transition: 0.3s ease;
  }

  &:hover {
    &::before {
      width: 100%;
    }
  }
}

.activeLink {
  &::before {
    width: 100%;
  }
}

.searchIcon {
  position: relative;
  display: none;
  z-index: 2;
  margin: 0px 12px 0px 0px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

  @media (max-width: 526px) {
    display: flex;
    justify-content: flex-end;
  }
}

.cart {
  position: relative;
  z-index: 2;
  padding: 10px;
  cursor: pointer;
  transition: 0.4s ease;
  border-radius: 50%;
  -webkit-tap-highlight-color: transparent;

  &:hover {
    background-color: #F0F0F0;
  }

  span {
    position: absolute;
    top: 2px;
    right: 2px;
    color: #000;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 500;
  }
}

.burger {
  position: relative;
  display: none;
  z-index: 2;
  width: 24px;
  height: 24px;
  margin: 0px 16px 0px 0px;
  cursor: pointer;

  @media (max-width: 939px) {
    display: block;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    background-color: #000;
    left: 10%;
    width: 80%;
    height: 2px;
    border-radius: 20px;
    transition: 0.4s ease;
  }

  &::before {
    top: 20%;
  }

  &::after {
    bottom: 20%;
  }

  span {
    position: absolute;
    left: 10%;
    top: calc(50% - 1px);
    background-color: #000;
    width: 80%;
    height: 2px;
    border-radius: 20px;
    transition: 0.3s ease;
  }
}