.block {
  margin: 0px 0px 64px 0px;

  @media (max-width: 769px) {
    margin: 0px 0px 50px 0px;
  }
}

.body {}

.header {
  display: flex;
  margin: 0px 0px 24px 0px;
  justify-content: space-between;

  @media (max-width: 813px) {
    flex-wrap: wrap;
  }

  @media (max-width: 426px) {
    margin: 0px 0px 20px 0px;
  }
}

.left {
  display: flex;
  margin: 0px 30px 0px 0px;
  align-items: center;
}

.title {
  color: #000;
  margin: 0px 8px 0px 0px;
  text-align: center;
  font-family: 'Open Sans';
  font-size: 22px;
  font-weight: 700;
  line-height: normal;

  @media (max-width: 426px) {
    margin: 0px 6px 0px 0px;
    font-size: 18px;
  }
}

.totalComment {
  color: rgba(0, 0, 0, 0.6);
  margin: 3px 0px 0px 0px;
  font-family: 'Open Sans';
  font-size: 16px;
  line-height: 137.5%;

  @media (max-width: 426px) {
    font-size: 14px;
  }
}

.right {
  display: flex;
  align-items: center;

  @media (max-width: 813px) {
    width: 100%;
    justify-content: space-between;
  }
}

.sort {
  margin: 0px 10px 0px 0px;

  @media (max-width: 428px) {
    margin: 0px 8px 0px 0px;
  }
}

.addComment {

  @media (max-width: 556px) {
    display: none;
  }
}

.comments {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}

.comment {
  flex: 0 1 50%;
  padding: 10px;

  @media (max-width: 1025px) {
    flex: 0 1 100%;
  }
}

.btn {
  display: flex;
  justify-content: center;

  margin: calc(20px + 16 * (100vw / 1440)) 0px 0px 0px;
  
  @media (max-width: 769px) {
    margin: calc(20px + 16 * ((100vw - 320px) / 1440)) 0px 0px 0px;
  }

  * {
    max-width: 230px;
  }
}