.block {
  margin: 0px 0px 64px 0px;

  @media (max-width: 769px) {
    margin: 0px 0px 50px 0px;
  }
}

.body {}

.header {
  display: flex;
  margin: 0px 0px 24px 0px;
  justify-content: space-between;

  @media (max-width: 426px) {
    margin: 0px 0px 20px 0px;
  }
}

.left {
  display: flex;
  align-items: center;
}

.title {
  color: #000;
  margin: 0px 8px 0px 0px;
  font-family: 'Open Sans';
  font-size: 24px;
  font-weight: 700;
  line-height: normal;

  @media (max-width: 426px) {
    margin: 0px 6px 0px 0px;
    font-size: 20px;
  }
}

.totalComment {
  color: rgba(0, 0, 0, 0.6);
  margin: 5px 0px 0px 0px;
  font-family: 'Open Sans';
  font-size: 16px;
  line-height: 137.5%;

  @media (max-width: 426px) {
    font-size: 14px;
  }
}

.right {
  display: flex;
}

.sort {
  margin: 0px 10px 0px 0px;

  @media (max-width: 428px) {
    margin: 0px 8px 0px 0px;
  }
}

.addComment {}

.comments {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}

.comment {
  flex: 0 1 50%;
  padding: 10px;
}