.block {
  margin: 0px 0px 100px 0px;
}

.tabs {
  position: relative;
  display: flex;
  margin: 0px 0px 24px 0px;

  @media (max-width: 426px) {
    margin: 0px 0px 20px 0px;
  }
}

.tab {
  color: rgba(0, 0, 0, 0.6);
  width: 100%;
  padding: 0px 0px 24px 0px;
  border-bottom: solid 2px #E6E6E6;
  text-align: center;
  transition: 0.3s ease;
  cursor: pointer;

  font-family: 'Open Sans';
  font-size: 20px;
  line-height: 110%;

  @media (max-width: 769px) {
    padding: 0px 0px 20px 0px;
    font-size: 18px;
  }

  @media (max-width: 426px) {
    font-size: 16px;
  }

  @media (max-width: 376px) {
    font-size: 14px;
  }
}

.line {
  position: absolute;
  bottom: 0;
  background-color: #000;
  height: 2px;
  transition: 0.4s ease;
}

.fields {}

.field {}