.block {
  padding: 96px 0px 0px 0px;
  margin: 0px 0px 80px 0px;

  @media (max-width: 889px) {
    padding: 80px 0px 0px 0px;
  }

  @media (max-width: 526px) {
    padding: 64px 0px 0px 0px;
  }
}

.body {
  border-top: solid 1px #E6E6E6;
  padding: 30px 0px 0px 0px;

  @media (max-width: 426px) {
    padding: 25px 0px 0px 0px;
  }
}

.breadCrumbs {
  margin: 0px 0px 36px 0px;

  @media (max-width: 426px) {
    margin: 0px 0px 25px 0px;
  }
}

.clothingConstructor {
  display: flex;
  max-height: 570px;
  margin: 0px -20px;
  overflow: hidden;

  @media (max-width: 1025px) {
    max-height: none;
  }

  @media (max-width: 769px) {
    flex-wrap: wrap;
  }
}

.imgPart {
  flex: 0 1 50%;
  display: flex;
  padding: 0px 20px;

  @media (max-width: 1025px) {
    flex-wrap: wrap-reverse;
  }

  @media (max-width: 769px) {
    flex: 0 1 100%;
    margin: 0px 0px 20px 0px;
  }
}

.images {
  flex: 0 1 calc(1/3*100%);
  display: flex;
  flex-direction: column;
  margin: 0px 20px 0px 0px;

  @media (max-width: 1025px) {
    flex: 0 1 100%;
    flex-direction: row;
    margin: 0px 0px 0px 0px;
  }
}

.imgItem,
.previewItem {
  position: relative;
  background-color: #F0EEED;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease;
  }
}

.imgItem {
  flex: 0 1 33%;
  margin: 0px 0px 20px 0px;

  @media (max-width: 1025px) {
    margin: 0px 12px 0px 0px;
  }

  @media (max-width: 769px) {
    margin: 0px 6px 0px 0px;
  }

  img {
    &:hover {
      transform: scale(1.1);
    }
  }

  &:last-child {
    margin: 0px 0px 0px 0px;
  }
}

.previewImg {
  flex: 0 1 calc(2/3*100%);

  @media (max-width: 1025px) {
    flex: 0 1 100%;
    max-height: 450px;
    margin: 0px 0px 12px 0px;
  }

  @media (max-width: 769px) {
    margin: 0px 0px 6px 0px;
  }

  img {
    &:hover {
      transform: scale(1.05);
    }
  }
}

.previewItem {
  height: 100%;
}

.optionPart {
  flex: 0 1 50%;
  padding: 0px 20px;

  @media (max-width: 769px) {
    flex: 0 1 100%;
  }
}

.title {
  color: #000;
  margin: 0px 0px 14px 0px;
  font-family: 'Fira Sans';
  font-size: calc(24px + 16 * (100vw / 1440));
  font-weight: 700;
  line-height: 110%;

  @media (max-width: 769px) {
    margin: 0px 0px 12px 0px;
    font-size: calc(24px + 16 * ((100vw - 320px) / 1440));
  }
}

.rating {
  margin: 0px 0px 14px 0px;

  @media (max-width: 769px) {
    margin: 0px 0px 12px 0px;
  }
}

.prices {
  display: flex;
  margin: 0px 0px 14px 0px;
  align-items: center;
}

.price {
  color: #000;
  margin: 0px 12px 0px 0px;
  font-family: 'Open Sans';
  font-size: calc(24px + 8 * (100vw / 1440));
  font-weight: 700;
  line-height: normal;

  @media (max-width: 769px) {
    margin: 0px 10px 0px 0px;
    font-size: calc(24px + 8 * ((100vw - 320px) / 1440));
  }
}

.prevPrice {
  position: relative;
  color: rgba(0, 0, 0, 0.3);
  margin: 0px 12px 0px 0px;
  font-family: 'Open Sans';
  font-size: calc(24px + 8 * (100vw / 1440));
  font-weight: 700;
  line-height: normal;

  @media (max-width: 769px) {
    margin: 0px 10px 0px 0px;
    font-size: calc(24px + 8 * ((100vw - 320px) / 1440));
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    background-color: #B3B3B3;
    width: 100%;
    height: 2px;
  }
}

.percent {
  display: flex;
  color: #F33;
  background-color: rgba(255, 51, 51, 0.1);
  padding: 6px 14px;
  justify-content: center;
  align-items: center;
  border-radius: 62px;

  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 500;
  line-height: normal;

  @media (max-width: 426px) {
    font-size: 14px;
  }
}

.description {
  position: relative;
  margin: 0px 0px 22px 0px;
  padding: 0px 0px 22px 0px;

  @media (max-width: 426px) {
    margin: 0px 0px 14px 0px;
    padding: 0px 0px 14px 0px;
  }

  span {
    display: inline-block;
    color: rgba(0, 0, 0, 0.6);
    max-height: 62px;
    overflow: hidden;
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 130%;

    @media (max-width: 426px) {
      font-size: 14px;
      line-height: 143%;
    }
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #E6E6E6;
    width: 100%;
    height: 1px;
  }
}

.colors {
  position: relative;
  padding: 0px 0px 22px 0px;
  margin: 0px 0px 22px 0px;

  @media (max-width: 426px) {
    margin: 0px 0px 14px 0px;
    padding: 0px 0px 14px 0px;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #E6E6E6;
    width: 100%;
    height: 1px;
  }
}

.colorLabel {
  color: rgba(0, 0, 0, 0.6);
  margin: 0px 0px 16px 0px;
  font-family: 'Open Sans';
  font-size: 16px;
  line-height: normal;

  @media (max-width: 426px) {
    font-style: 14px;
  }
}

.sizes {
  position: relative;
  padding: 0px 0px 22px 0px;
  margin: 0px 0px 22px 0px;

  @media (max-width: 426px) {
    margin: 0px 0px 14px 0px;
    padding: 0px 0px 14px 0px;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #E6E6E6;
    width: 100%;
    height: 1px;
  }
}

.sizeLabel {
  color: rgba(0, 0, 0, 0.6);
  margin: 0px 0px 16px 0px;
  font-family: 'Open Sans';
  font-size: 16px;
  line-height: normal;

  @media (max-width: 426px) {
    font-style: 14px;
  }
}

.footer {
  display: flex;
  margin: 0px -10px;

  @media (max-width: 1025px) {
    margin: 0px -5px;
  }
}

.counterBtn {
  max-width: 190px;
  padding: 0px 10px;

  @media (max-width: 1025px) {
    padding: 0px 5px;
  }
}

.btn {
  flex-grow: 1;
  padding: 0px 10px;

  @media (max-width: 1025px) {
    padding: 0px 5px;
  }
}