.block {
  background-color: #f2f0f1;
  margin: 0px calc(-1 * (16px + 84 * (100vw / 1440)));
  padding: 0px calc(16px + 84 * (100vw / 1440));

  @media (max-width: 769px) {
    margin: 0px calc(-1 * (16px + 84 * ((100vw - 320px) / 1440)));
    padding: 0px calc(16px + 84 * ((100vw - 320px) / 1440));
  }
}

.body {
  display: flex;
  max-height: 671px;
  margin: 0px calc(-1 * (16px + 84 * (100vw / 1440))) 0px -1.74vw;
  overflow: hidden;

  @media (max-width: 945px) {
    flex-wrap: wrap;
    max-height: max-content;
    margin: 0px 0px;
  }
}

.imgBlock {
  flex: 1 1 50%;
  position: relative;
  margin: 0px 0px 0px;
  padding: 0px 1.74vw 80% 1.74vw;
  overflow: hidden;

  @media (max-width: 945px) {
    flex: 1 1 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0% 0px;
  }
}

.bigImg {
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: 945px) {
    display: none;
  }
}

.smallImg {
  display: none;

  @media (max-width: 945px) {
    display: block;

    img {
      max-width: 100%;
    }
  }
}

.star1 {
  position: absolute;
  top: 35%;
  left: 0;

  img {
    max-width: 3.88vw;
  }
}

.star2 {
  position: absolute;
  top: 12%;
  right: 0;

  img {
    max-width: 7.22vw;
  }
}

.textBlock {
  flex: 0 1 50%;
  padding: 0px 1.74vw;

  @media (max-width: 945px) {
    flex: 1 1 100%;
    padding: 0px 0px;
  }
}

.title {
  color: #000;
  margin: 0px 0px calc(20px + 12 * (100vw / 1440)) 0px;
  padding: calc(136px + 63 * (100vw / 1440)) 0px 0px 0px;

  font-family: "Fira Sans";
  font-size: calc(24px + 25 * (100vw / 1440));
  font-weight: 700;

  @media (max-width: 939px) {
    padding: calc(104px + 63 * (100vw / 1440)) 0px 0px 0px;
  }

  @media (max-width: 769px) {
    margin: 0px 0px calc(20px + 12 * ((100vw - 320px) / 1440)) 0px;
    padding: calc(104px + 63 * ((100vw - 320px) / 1440)) 0px 0px 0px;
    font-size: calc(24px + 25 * ((100vw - 320px) / 1440));
  }

  span {
    white-space: nowrap;
  }
}

.subtitle {
  color: rgba(0, 0, 0, 0.6);
  margin: 0px 0px calc(20px + 12 * (100vw / 1440)) 0px;

  font-family: "Open Sans";
  font-size: 16px;
  line-height: 137.5%;

  @media (max-width: 426px) {
    font-size: 14px;
    margin: 0px 0px calc(20px + 12 * ((100vw - 320px) / 1440)) 0px;
  }
}

.btn {
  max-width: 210px;
  margin: 0px 0px calc(22px + 26 * (100vw / 1440)) 0px;

  @media (max-width: 426px) {
    margin: 0px 0px calc(22px + 26 * ((100vw - 320px) / 1440)) 0px;
  }

  @media (max-width: 376px) {
    max-width: none;

    * {
      width: 100%;
    }
  }
}

.numbers {
  display: flex;
  margin: 0px -32px;
  align-items: center;

  @media (max-width: 945px) {
    margin: 0px -32px 0px -32px;
  }

  @media (max-width: 445px) {
    flex-wrap: wrap;
    justify-content: center;
    margin: -7px -32px;
  }
}

.numbersItem {
  position: relative;
  padding: 0px 32px;

  @media (max-width: 445px) {
    padding: 7px 32px;

    &:nth-child(2) {
      &::before {
        display: none;
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.1);
    width: 1px;
    height: 100%;
    max-height: 46px;
  }

  &:last-child {
    &::before {
      display: none;
    }
  }
}

.numbersTitle {
  color: #000;
  font-family: "Open Sans";
  font-size: calc(24px + 16 * (100vw / 1440));
  font-weight: 700;

  @media (max-width: 769px) {
    font-size: calc(24px + 16 * ((100vw - 320px) / 1440));
  }
}

.numbersSubtitle {
  color: rgba(0, 0, 0, 0.6);
  font-family: "Open Sans";
  font-size: calc(12px + 4 * (100vw / 1440));
  line-height: 137.5%;

  @media (max-width: 769px) {
    font-size: calc(12px + 4 * ((100vw - 320px) / 1440));
  }
}
